.aRecord{
    width: 90%;

    border: #512da8 solid 4px;
    border-radius: 10px; /* 모서리 깎기 */
    box-shadow: 0px 0px 20px #9575CD inset;

    margin-top: 25px;

}

.aRecord .idTD{
    padding: 10px;
    color: 512da8;
    font-weight: bold;
}

.aRecord .dateTD{
    font-size: 10px;
    padding-right: 10px;
}

.aRecord .imgTD{
    width: 200px;
}
.aRecord .imgTD img{
    /*
        이미지 크기 조절
            - 안해야(애초에 그 크기의 이미지가 있어야 하는데)
            - 프로필 사진처럼 같이 어쩔 수 없이 해야하는 상황에는
                -> maxwidth
        
            max-width / max-height
                그것보다 큰거는 그 사이즈로,
                그것보다 작은거는 원본사이즈
                -> 작은 거를 키우지를 않음 (계단 현상 방지)
    */
    max-width: 180px;

}

.aRecord .txtTD{
    padding: 20px;
}

.aRecord .btnTD{
    padding: 15px;
}
.aRecord .btnTD button{
    border: none;
    background-color: transparent;
    color: #512da8;
    font-weight: bold;
}

.aRecord .btnTD button:hover{
    background-color: #e3deeb;
    cursor: pointer;
}